#debug or release
RUN_MODE = debug

[project]
PROJECT_NAME = ZTrunk_Server

[server]
HTTP_IP = 120.92.189.115
HTTP_PORT = 8001

[redis]
REDIS_IP = 127.0.0.1
REDIS_PORT = 6379
MAX_OPEN_CONN = 10
MAX_IDLE_CONN = 5

[log]
#日志级别
LOGGER_LEVEL = 0

#日志存储目录
FILE_DIR = /log

#日志通道大小
LOG_DATA_CHAN_SIZE = 50000

#分割日志的最大长度
SPLIT_FILE_SIZE = 104857600

#分割日志的方式
SPLIT_FILE_TYPE = 0